@model CalculoHonorario.App.ViewModels.AdicionarHonorarioViewModel

@{
    ViewData["Title"] = "Novo Honorário";
}

<div class="card">
    <div class="card-header align-middle">
        <h1 class="float-start">@ViewData["Title"]</h1>
    </div>

    <form enctype="multipart/form-data" asp-action="Create">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-5 mb-3">
                    <label asp-for="Descricao" class="form-label"></label>
                    <input asp-for="Descricao" class="form-control" />                    
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="form-group col-5 mb-3">
                    <label asp-for="RendaMensal" class="form-label"></label>
                    <input asp-for="RendaMensal" asp-format="{0:#.###,00}" class="form-control" />
                    <span asp-validation-for="RendaMensal" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-5 mb-3">
                    <label asp-for="ServicoContabil" class="form-label"></label>
                    <input asp-for="ServicoContabil" class="form-control" />                    
                    <span asp-validation-for="ServicoContabil" class="text-danger"></span>
                </div>

                <div class="form-group col-5 mb-3">
                    <label asp-for="SimplesNacional" class="form-label"></label>
                    <input asp-for="SimplesNacional" class="form-control" />                    
                    <span asp-validation-for="SimplesNacional" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-5 mb-3">
                    <label asp-for="ValorVR" class="form-label"></label>
                    <input asp-for="ValorVR" class="form-control" />                    
                    <span asp-validation-for="ValorVR" class="text-danger"></span>
                </div>

                <div class="form-group col-5 mb-3">
                    <label asp-for="ValorVT" class="form-label"></label>
                    <input asp-for="ValorVT" class="form-control" />                    
                    <span asp-validation-for="ValorVT" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer clearfix">
            <input type="submit" value="Salvar" class="btn btn-primary float-end" />
            <a class="btn btn-secondary float-end me-2" asp-action="Index">Voltar</a>            
        </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
