@model IEnumerable<CalculoHonorario.App.ViewModels.HonorarioViewModel>

@{
    ViewData["Title"] = "Honorário";
}

<div class="card">
    <div class="card-header align-middle">
        <h1 class="float-start">@ViewData["Title"]</h1>

        <a class="btn btn-primary float-end" asp-action="Create">Novo</a>
    </div>

    <div class="card-body">
        <partial name="_ListaHonorarios" />
    </div>
</div>



